@import url("https://cdn-uicons.flaticon.com/uicons-bold-straight/css/uicons-bold-straight.css");
@import url("https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css");
@import url("https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css");
@import url("https://cdn-uicons.flaticon.com/uicons-solid-straight/css/uicons-solid-straight.css");
@import url("https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css");
@import url("https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css");
/* @import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;500;600;700&family=Rubik:wght@300;400;600;700&Inter:wght@100;300;400;500;600;700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-family: "Rubik", sans-serif;
	overflow-y: hidden;
	overflow-y: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Inter", sans-serif;
}
/* SPLASH SCREEN */

.splash-screen-loader {
	border: 4px solid #f3f3f3;
	border-top: 4px solid #3498db;
	border-radius: 50%;
	width: 32px;
	height: 32px;
	animation: spin 0.5s linear infinite;
}
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
/* END OF SPLASH SCREEN */
@layer base {
	input {
		outline: none !important;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	b,
	strong {
		@apply font-bold;
	}
	h1 {
		font-family: "Lato", sans-serif !important;
		@apply text-2xl;
	}
	h2 {
		font-family: "Lato", sans-serif !important;
		@apply text-xl;
	}
	h3 {
		font-family: "Lato", sans-serif !important;
		@apply text-lg;
	}
	h4 {
		font-family: "Lato", sans-serif !important;
		@apply text-base;
	}
	h5 {
		font-family: "Lato", sans-serif !important;
		@apply text-sm;
	}
	h6 {
		font-family: "Lato", sans-serif !important;
		@apply text-xs;
	}

	.table table {
		@apply w-full border bg-background rounded-lg;
	}
	.table table thead > tr:last-child {
		@apply border-b;
	}
	.table table thead > tr > td,
	.table table thead > tr > th {
		font-size: 14px;
		line-height: 14px;
		@apply text-left px-3 py-4 bg-background border-b border-border text-darker;
	}
	.table table tbody > tr:not(:last-child) {
		@apply border-b;
	}
	.table table thead > tr > td:first-child,
	.table table thead > tr > th:first-child {
		@apply rounded-tl-lg;
	}
	.table table thead > tr > td:last-child,
	.table table thead > tr > th:last-child {
		@apply rounded-tr-lg;
	}
	.table table tbody > tr > td:not(:last-child),
	.table table tbody > tr > th:not(:last-child) {
		/* @apply border-r; */
	}

	.table table tbody > tr > td,
	.table table tbody > tr > th {
		@apply px-3 py-3 text-sm text-dark;
	}
	.printable-table table {
		@apply w-full border-opacity-50 border bg-white rounded-none;
	}
	.printable-table table thead > tr:last-child {
		@apply border-opacity-50 border-b;
	}
	.printable-table table thead > tr > td,
	.printable-table table thead > tr > th {
		@apply text-left px-3 py-4 bg-white border-opacity-50 border-b border-border text-darker;
	}
	.printable-table table tbody > tr:not(:last-child) {
		@apply border-opacity-50 border-b;
	}
	.printable-table table thead > tr > td:first-child,
	.printable-table table thead > tr > th:first-child {
		@apply rounded-none;
	}
	.printable-table table thead > tr > td:last-child,
	.printable-table table thead > tr > th:last-child {
		@apply rounded-none;
	}
	.printable-table table tbody > tr > td:not(:last-child),
	.printable-table table tbody > tr > th:not(:last-child) {
		/* @apply border-r; */
	}

	.printable-table table tbody > tr > td,
	.printable-table table tbody > tr > th {
		@apply px-3 py-3 text-sm text-primary-dark;
	}
	.square-table,
	.square-table table tr,
	.square-table table th,
	.square-table table td,
	.square-table tbody tr,
	.square-table tbody th,
	.square-table tbody td {
		@apply !rounded-none;
	}
	.table td,
	.table th {
		@apply max-w-xs;
	}
	.table thead td,
	.table thead th {
		@apply whitespace-nowrap;
	}
	.transparent-table,
	.transparent-table table tr,
	.transparent-table table th,
	.transparent-table table td,
	.transparent-table thead tr,
	.transparent-table thead th,
	.transparent-table thead td,
	.transparent-table tbody tr,
	.transparent-table tbody th,
	.transparent-table tbody td {
		@apply !bg-transparent;
	}
}

.modal-xs {
	@apply lg:max-w-sm;
}
.modal-sm {
	@apply lg:max-w-md;
}
.modal-md {
	@apply lg:max-w-[512px];
}
.modal-lg {
	@apply lg:max-w-[768px];
}
.modal-xl {
	@apply lg:max-w-[1280px];
}
.modal-2xl {
	@apply lg:max-w-[70vw];
}
.modal-3xl {
	@apply lg:max-w-[90vw];
}
.modal-full {
	@apply max-w-full;
}

.form-group {
	@apply flex flex-col mb-4;
}

.react-select__control > div {
	@apply h-[46px] bg-white rounded-lg border-gray-300;
}

.react-select__control--is-focused > div {
	@apply shadow-blue-300 ring-1 ring-blue-500;
}

.react-select__control--is-focused > div * {
	@apply text-sm;
}

.react-select__control > div.error-input {
	@apply h-[46px] bg-white rounded-lg border-danger;
}

.react-select__menu-list {
	@apply !p-0;
}
.react-select__option {
	@apply !text-dark duration-200;
}

.react-select__option:first-child {
	@apply rounded-t;
}
.react-select__option:last-child {
	@apply rounded-b;
}
.react-select__option--is-focused {
	@apply !text-darker !bg-primary bg-opacity-10;
}
.react-select__option--is-selected {
	@apply !text-light font-bold !bg-primary;
}

.animate-fadeIn {
	animation: fadeIn 0.5s ease-in;
}
.animate-fadeIn-faster {
	animation: fadeIn 0.2s ease-in;
}
.animate-fadeOut {
	/* animation: fadeOut 5s ease-out; */
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 100;
	}
}
@keyframes fadeOut {
	0% {
		opacity: 100;
	}
	100% {
		opacity: 0;
	}
}
.btn-primary-gradient {
	background: rgb(33, 12, 74);
	background: linear-gradient(
		6deg,
		rgba(61, 33, 116, 1) 0%,
		rgba(38, 27, 111, 1) 50%,
		rgba(18, 74, 184, 1) 100%
	);
}
.Toastify__toast {
	z-index: 9999;
}
.Toastify__toast--success {
	@apply bg-[#d6eade] text-success;
}

.Toastify__toast--danger,
.Toastify__toast--error {
	@apply bg-[#f0d6d6] text-danger;
}
.Toastify__toast--warning {
	@apply bg-[#f5eadd] text-warning;
}
.Toastify__toast--info,
.Toastify__toast--information {
	@apply bg-[#deeef5] text-info;
}

.Toastify__toast-body {
	font-family: "Inter", sans-serif;
	@apply font-semibold tracking-wide text-sm;
}
